@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .drawer-title {
        @apply px-2 font-medium text-base tracking-wide
    }

    .video-title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        /* max-height: 3em; */
    }

    .video-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        /* max-height: 3em; */
    }

    .icon {
        @apply hover:bg-gray-200 rounded-full p-3
    }

    main {
        @apply py-2 px-4 sm:px-6
    }
}